[submodule "nvim/pack/paqs/start/paq-nvim"]
	path = nvim/pack/paqs/start/paq-nvim
	url = https://github.com/savq/paq-nvim
[submodule "bash/oh-my-bash"]
	path = bash/oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash
[submodule "ranger/plugins/ranger_devicons"]
	path = ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
